@import url("http://fonts.googleapis.com/css?family=Mako");
*{border:0;margin:0;padding:0}
html{height:100%;width:100%}
body{background-color:#e74c3c;font-family:'Mako',sans-serif;font-size:16px;height:100%;text-align:center;width:100%}
nav{text-align:left;margin:0 0 3em 1.5em;}
nav ul{margin:0 0 2em 0}
nav ul li{font-size:.9em;list-style:none;padding:.7em 0 .7em 0;}
nav ul li a{color:#fff;text-decoration:none;-webkit-transition:background 2s ease;-moz-transition:background 2s ease;-ms-transition:background 2s ease;-o-transition:background 2s ease;transition:background 2s ease}
nav ul li a:hover{background-color:#e74c3c;color:#fff;-webkit-transition:background 2s ease;-moz-transition:background 2s ease;-ms-transition:background 2s ease;-o-transition:background 2s ease;transition:background 2s ease;padding:.5em}
.clase2{font-size:1.1em;margin:0 0 -1em 0}
.clear{clear:both}
.franja{color:#fff;background-color:rgba(0,0,0,0.6);height:100%;position:fixed;width:25%;}
.franja h1{font-size:1.4em;font-weight:100;margin:2em 0 .5em 1em;text-align:left}
.franja h2{font-size:1em;font-style:italic;font-weight:100;margin:.5em 0 3em 1.5em;text-align:left}
.franja h6{font-size:.8em;font-weight:100;line-height:24px}
.contenido{color:#fff;font-weight:100;height:auto;float:right;margin:1em;width:72%;}
.contenido h2{font-weight:100;text-align:left;margin:1.3em 0 1em 0}
.contenido p{line-height:23px;padding-top:.5em;text-align:left}
.italic{color:#ccc;font-style:italic;margin-top:.1em}
.redesFooter{bottom:0;height:auto;position:fixed;margin:0 0 3em 0;width:73%;}
.redesFooter ul li{display:inline-block;float:right;padding:0 2em 0 0}
.redesInternas li{float:right}
.redesInternas ul li{display:inline-block;padding:3em 1em 1em 1em}
@media screen and (min-width: 0px) and (max-width: 319px){*{border:0;margin:0;padding:0}
body{background-color:#e74c3c;font-family:'Mako',sans-serif;font-size:16px;height:100%;text-align:center;width:100%}
.footer{display:none}
nav{visibility:hidden;margin:0;margin:0 auto;margin-top:-2em;padding:0;width:90%}
.container{height:auto;margin:0;padding:0;width:100%}
.contenido{display:block;height:auto;margin:0 auto;margin-top:-4em;width:100%;}
.contenido p{margin:0 auto;width:90%}
.contenido h2{height:auto;margin:1em 0 0 .5em;width:90%}
.franja{height:auto;margin:0 auto;margin-left:.6em;margin-bottom:4em;margin-top:-2em;padding:1em 0 0 0;position:relative;width:95%}
.redesFooter{display:none}
.redesInternas{display:none}
.redes320{height:auto;margin:0;margin-top:1em;padding:0;width:100%;}
.redes320 ul li{display:inline-block;list-style:none;padding:0 .5em 0 .5em}
}@media screen and (min-width: 320px) and (max-width: 479px){*{border:0;margin:0;padding:0}
body{background-color:#e74c3c;font-family:'Mako',sans-serif;font-size:16px;height:100%;text-align:center;width:100%}
footer{display:none}
nav{visibility:hidden;margin:0;margin:0 auto;margin-top:-2em;padding:0;width:90%}
#menuResp{margin-top:-25em}
.container{height:auto;margin:0;padding:0;width:100%}
.contenido{display:block;height:auto;margin:0 auto;margin-top:-4em;width:100%;}
.contenido p{margin:0 auto;width:90%}
.contenido h2{height:auto;margin:1em 0 0 1em;width:90%}
.franja{height:auto;margin:0 auto;margin-left:.6em;margin-bottom:4em;margin-top:-2em;padding:1em 0 0 0;position:relative;width:95%}
.footerMovil{font-size:1.2em;height:auto;line-height:23px;margin:1em 0 0 0;padding:.5em 0 .5em 0;width:100%}
.redesFooter{display:none}
.redesInternas{display:none}
.redes320{height:auto;margin:0;margin-top:1em;padding:0;width:100%;}
.redes320 ul li{display:inline-block;list-style:none;padding:0 .5em 0 .5em}
}@media screen and (min-width: 480px) and (max-width: 759px){*{border:0;margin:0;padding:0}
body{background-color:#e74c3c;font-family:'Mako',sans-serif;font-size:16px;height:100%;text-align:center;width:100%}
footer{display:none}
nav{visibility:hidden;margin:0;margin:0 auto;margin-top:-2em;padding:0;width:90%}
#menuResp{margin-top:-25em}
.container{height:auto;margin:0;padding:0;width:100%}
.contenido{display:block;height:auto;margin:0 auto;margin-top:-4em;width:100%;}
.contenido p{margin:0 auto;width:90%}
.contenido h2{height:auto;margin:1em 0 0 1em;width:90%}
.franja{height:auto;margin:0 auto;margin-left:.6em;margin-bottom:4em;margin-top:-2em;padding:1em 0 0 0;position:relative;width:95%}
.footerMovil{font-size:1.2em;height:auto;line-height:23px;margin:1em 0 0 0;padding:.5em 0 .5em 0;width:100%}
.redesFooter{display:none}
.redesInternas{display:none}
.redes320{height:auto;margin:0;margin-top:1em;padding:0;width:100%;}
.redes320 ul li{display:inline-block;list-style:none;padding:0 .5em 0 .5em}
}@media screen and (min-width: 760px) and (max-width: 1019px){nav{margin:0;margin-left:.7em;padding:0;width:90%}
#menuResp{visibility:hidden}
.contenido{height:100%;width:57%}
.franja{height:100%;width:40%;}
.franja h1{margin-left:.3em}
.footerMovil{display:none}
.redes320{display:none}
}@media screen and (min-width: 1020px){#menuResp{visibility:hidden}
.footerMovil{display:none}
.redes320{display:none}
}@media screen and (min-width: 1021px){#menuResp{visibility:hidden}
.footerMovil{display:none}
.redes320{display:none}
}