@import url(http://fonts.googleapis.com/css?family=Mako);

*
	border 0px
	margin 0px
	padding 0px
html
	height 100%
	width 100%
body
	background-color #e74c3c
	font-family: 'Mako', sans-serif;
	font-size 16px
	height 100%
	text-align center
	width 100%

nav
	text-align left
	margin 0 0 3em 1.5em
	ul
		margin 0 0 2em 0
	ul li
		font-size .9em
		list-style none
		padding .7em 0 .7em 0
		a
			color #FFFFFF
			text-decoration none
		a:hover
			color #222

.clear
	clear both


.franja
	color #FFFFFF
	background-color rgba(0,0,0,0.60)
	height 100%
	position fixed
	width 25%
	h1
		font-size 1.4em
		font-weight 100
		margin 2em 0 .5em 1em
		text-align left
	h2
		font-size 1em
		font-style italic
		font-weight 100
		margin .5em 0 3em 1.5em
		text-align left
	h6
		font-size .8em
		font-weight 100
		line-height 24px

.contenido
	color #FFFFFF
	font-weight 100
	height auto
	float right
	margin 1em
	width 72%
	h2
		font-weight 100
		text-align left
		margin 1.3em 0 1em 0
	p
		line-height 23px
		padding-top .5em
		text-align left

.redesFooter
	bottom 0px
	height auto
	position fixed
	margin 0 0 3em 0
	width 73%
	ul li
		display inline-block
		float right
		padding 0 2em 0 0


.redesInternas
	li
		float right
	ul li
		display: inline-block
		padding 3em 1em 1em 1em


