@import url(http://fonts.googleapis.com/css?family=Mako);

*
	border 0px
	margin 0px
	padding 0px

html
	background url(../img/bg.jpg) no-repeat center center fixed
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover

body
	font-family 'Mako', sans-serif
	font-size 16px
	height 100%
	text-align center
	width 100%

nav
	text-align left
	margin 0 0 3em 1.5em
	ul
		margin 0 0 2em 0
	ul li
		font-size .9em
		list-style none
		padding .7em 0 .7em 0
		a
			color #FFFFFF
			text-decoration none
			-webkit-transition background 2s ease
			-moz-transition background 2s ease
			-ms-transition background 2s ease
			-o-transition background 2s ease
			transition background 2s ease
		a:hover
			background-color #e74c3c
			color #FFF
			-webkit-transition background 2s ease
			-moz-transition background 2s ease
			-ms-transition background 2s ease
			-o-transition background 2s ease
			transition background 2s ease
			padding .5em

.clear
	clear both

.franja
	color #FFFFFF
	background-color rgba(0,0,0,0.60)
	height 100%
	position absolute
	width 25%
	h1
		font-size 1.4em
		font-weight 100
		margin 2em 0 .5em 1em
		text-align left
	h2
		font-size 1em
		font-style italic
		font-weight 100
		margin .5em 0 3em 1.5em
		text-align left
	h6
		font-size .8em
		font-weight 100
		line-height 24px

.contenido
	height auto
	float right
	margin 1em
	width 72%

.redesFooter
	bottom 0px
	height auto
	position fixed
	margin 0 0 3em 0
	width 73%
	ul li
		display inline-block
		float right
		padding 0 2em 0 0


/* ***************************** MEDIA QUERIES ******************* */
@media screen and (min-width: 0px) and (max-width: 319px)
	*
		border 0px
		margin 0px
		padding 0px

	body
		background-color #e74c3c
		font-family: 'Mako', sans-serif;
		font-size 16px
		height 100%
		text-align center
		width 100%

	html
		background url(../img/bg.jpg) no-repeat center center fixed
		-webkit-background-size cover
		-moz-background-size cover
		-o-background-size cover
		background-size cover
	nav
		margin 0px
		margin 0 auto
		padding 0px
		width 85%
	.container
		height auto
		margin 0px
		padding 0px
		width 100%
	.franja
		height auto
		margin 0 auto
		margin-left .6em
		margin-bottom 4em
		position absolute
		width 95%
	.redesFooter
		display none

	.redes320
		height auto
		margin 0px
		margin-top 1em
		padding 0px
		width 100%
		ul li
			display inline-block
			list-style none
/* *************************************************************** */

@media screen and (min-width: 320px) and (max-width: 479px)
	*
		border 0px
		margin 0px
		padding 0px

	body
		background-color #e74c3c
		font-family: 'Mako', sans-serif;
		font-size 16px
		height 100%
		text-align center
		width 100%

	html
		background url(../img/bg.jpg) no-repeat center center fixed
		-webkit-background-size cover
		-moz-background-size cover
		-o-background-size cover
		background-size cover
		width 100%
		height auto
	nav
		margin 0px
		margin 0 auto
		padding 0px
		width 90%
	.container
		height auto
		margin 0px
		padding 0px
		width 100%
	.franja
		background-color rgba(0,0,0,0.30)
		height 100%
		margin 0 auto
		margin-left .6em
		margin-bottom 4em
		position absolute
		width 95%
	.redesFooter
		display none

	.redes320
		height auto
		margin 0px
		margin-top 1em
		padding 0px
		width 100%
		ul li
			display inline-block
			list-style none
/* ************************************************************** */

@media screen and (min-width: 480px) and (max-width: 759px)
	*
		border 0px
		margin 0px
		padding 0px
	body
		background-color #e74c3c
		font-family: 'Mako', sans-serif;
		font-size 16px
		height 100%
		text-align center
		width 100%
	nav
		margin 0px
		margin 0 auto
		padding 0px
		width 90%
	.container
		height auto
		margin 0px
		padding 0px
		width 100%
	.franja
		background-color rgba(0,0,0,0.30)
		height auto
		margin 0 auto
		margin-left .6em
		margin-bottom 4em
		width 95%
	.redesFooter
		display none

	.redes320
		height auto
		margin 0px
		margin-top 1em
		padding 0px
		width 100%
		ul li
			display inline-block
			list-style none
/* *************************************************************** */

@media screen and (min-width: 760px) and (max-width: 1019px)
	nav
		width 90%
	.franja
		width 50%
	.redes320
		display none
/* *************************************************************** */

@media screen and (min-width: 1020px)
	.redes320
		display none
/* *************************************************************** */

@media screen and (min-width: 1021px)
	.redes320
		display none

/* ***************************** FINAL MEDIA QUERIES ********************************** */







